<div class="center jumbotron landing-box">
  <h1>Simple Social</h1>

  <h2>
    The Twitter-Clone that shows off coding skills
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>