<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Simple Social is a twitter style social networking platform. Built through the <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>.
</p>