<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
	Andrew Klotz
	<ul>
		<li>email: andrew.klotz@hotmail.com</li>
		<li>github: https://github.com/klotzandrew</li>
	</ul>

</p>
<p>
	Ruby on Rails Tutorial
	<ul>
		<li>sample app <a href="http://www.railstutorial.org/#contact"> contact page</a></li>
	</ul>
</p>